.container {
  grid-area: header;
  width: 100%;
  background-color: #000;
  height: 10rem;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0.1rem 0.7rem 0 rgba(0, 0, 0, 0.1);
  z-index: 10000;
}

.content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-areas: "nav logo social";
  grid-column-gap: 4rem;
  width: 100%;
  padding: 0 4rem;
}
