@import "variables.scss";

.container {
  background-color: #000;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @include respond(phone) {
    height: 50rem;
  }
}

.img {
  width: 37.2rem;
  height: auto;
  position: absolute;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.text {
  font-family: Helvetica, sans-serif;
  font-size: 2.5rem;
  color: #fff;
}

.other {
  margin-top: 2.8rem;
}
