@import "variables.scss";

.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.icon {
  height: 10rem;
  width: auto;
  @include respond(phone) {
    height: 15rem;
  }
}
