@import "variables.scss";

.container {
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;

  @include respond(phone) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.cap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem;
  border: 0.8rem solid $secondary;
  width: 80rem;
  // height: 15rem;

  @include respond(phone) {
    width: auto;
    height: auto;
  }
}

.name {
  font-size: 3.7rem;

  @include respond(phone) {
    font-size: 4rem;
  }
}

.place,
.name,
.date {
  font-weight: 100;
  color: #3d322c;
  text-align: center;
}

.place {
  font-size: 3rem;

  @include respond(phone) {
    font-size: 3rem;
  }
}

.date {
  font-size: 2rem;
  @include respond(phone) {
    font-size: 2rem;
  }
}
