@import "variables.scss";

.burguerMenu {
  grid-area: nav;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon {
  height: 3rem;
  width: auto;

  @include respond(tab-port) {
    height: 4rem;
  }
}
