@import "variables.scss";

.nav {
  grid-area: nav;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 4rem;
  height: 5rem;
  position: fixed;
  cursor: pointer;

  // .btnUp,
  // .btnDown,
  .btnCenter1,
  .btnCenter2 {
    transition: 0.3s ease all;
  }
}

.menuContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 10rem;
  left: -100vw;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transition: all ease-in-out 0.5s;

  .list {
    .item {
      list-style: none;
      text-align: center;
      padding: 0.5rem 0;
      .name {
        text-decoration: none;
        color: $primary;
        font-size: $font-size-biggest;
        font-weight: 100;
        margin: 1rem 0;
        @include respond(tab-land) {
          font-size: $font-size-grand;
        }
      }
    }
  }

  .text,
  .ig {
    text-decoration: none;
    text-align: center;
    color: $primary;
    font-size: $font-size-biggest;
    @include respond(tab-land) {
      font-size: $font-size-grand;
    }
  }

  @include respond(tab-port) {
    top: 15rem;
  }
}

.menuContainerOpen {
  transform: translateX(100vw);
  opacity: 1;
}

.isMenuOpen {
  .btnUp,
  .btnDown {
    transform: scale(0);
    // display: none;
  }
  .btnCenter1 {
    transform: rotate(-45deg);
  }
  .btnCenter2 {
    transform: rotate(45deg);
  }
}
.btnCenter1 {
  position: relative;
}

.btnUp,
.btnCenter1,
.btnCenter2,
.btnDown {
  background-color: $primary;
  height: 0.3rem;
  width: 4rem;
  z-index: 2000;
}

.btnCenter2 {
  position: absolute;
}
