@import "variables.scss";

.titleContainer {
  padding: 15rem 5rem 10rem;
}

.text {
  font-family: "Ramstay";
  font-size: 9rem;
  color: #654634;

  @include respond(phone) {
    font-size: 10rem;
  }
}
