@import "variables.scss";

.container {
  display: flex;
  justify-content: flex-end;
}

.list {
  grid-area: social;
  width: fit-content;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  path {
    fill: rgb(217, 178, 109);
  }
}

.icon {
  height: 2.5rem;
  width: auto;
  @include respond(tab-port) {
    height: 4rem;
  }
}
