@import "variables.scss";
@import "fonts.scss";

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem > 10px
  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", "sans-serif";
  line-height: 1.6;
  font-size: 1.8rem;
  background-color: #fff;
  display: grid;
  grid-template-rows: 7rem 1fr 10rem;
  grid-template-columns: 1fr;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
