@import "variables.scss";

.container {
}

.info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 10rem 10rem;
  flex-direction: row-reverse;

  @include respond(desktop) {
    justify-content: center;
  }

  @include respond(medium-desktop) {
    padding: 0 25rem 10rem;
  }

  @include respond(big-desktop) {
    padding: 0 35rem 10rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }

  .img,
  .imgBox {
    width: 60rem;
    height: auto;

    @include respond(desktop) {
      width: auto;
      height: 68rem;
    }

    @include respond(medium-desktop) {
      width: auto;
      height: 60rem;
    }

    @include respond(phone) {
      width: 105rem;
      height: auto;
      align-self: flex-end;
    }
  }
  .imgBox {
    position: relative;
    z-index: 1;
  }

  .textContainer {
    padding: 7rem 7rem 4rem;
    background-color: #efe9cc;
    height: auto;

    @include respond(phone) {
      width: 105rem;
      height: auto;
      align-self: flex-start;
      background-color: #dcd7d1;
    }
  }

  .aboutText {
    font-family: Arial, Helvetica, sans-serif;
    color: #3d322c;
    padding-bottom: 3rem;

    @include respond(phone) {
      font-size: 4rem;
    }
  }
}
